@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #333;
  overflow-x: hidden;
}

button {
  background-color: #9e89b8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin : 10px 0px;
  text-transform: uppercase;
}

.button-disabled {
  background-color: #eee;
  color: #333;
}

button:focus {
  outline: none;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  padding: 16px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card small {
  font-weight: bold;
}

.card .code {
  margin: 10px 0px;
  font-weight: bold;
}

.card .condition {
  color: #b3afaf;
}

/* Animation */
.close:after{
  content: "\00d7";
  float: right;
  font-size: 50px;
  cursor: pointer;
}

.card-animate {
  visibility: hidden;
  opacity: 0;
}

.card-animate-settings {
  position: absolute;
  width: 100%; 
  transition: all .8s ease-out;
  transition-timing-function: linear;
  background: #fff;
  bottom: 100%;
}

.card-animate-down {
  transform: translateY(100%);
}

.card-animate-up {
  transform: translateY(-100%);
}

/* Container */
.wrapper {
  min-height: 100vh;
}

.wrapper > * {
  padding: 20px;
}

/* Header */
.page-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-header ul {
  list-style: none;
  text-align: center;
}

.page-header ul li {
  display: inline-block;
  margin: 10px;
}

/* Main Section */
.main-content {
  background: #9e89b8 url(flight.jpg) no-repeat center / cover;
  background-blend-mode: luminosity;
  min-height: calc(100vh - 40px);
}

.main-content div {
  margin: auto;
  width: 50%;
}

.container {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}

/* Form */
input {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input:focus {
    outline: none;
    border:1px solid #9e89b8;
}

input[type="radio"] {
  width: auto;
  margin-right: 10px;
}

input[type=submit] {
  background-color: #9e89b8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .main-content div {
    margin: auto;
    width: 100%;
  }
  .page-header nav {
    display: block;
  }
  nav h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  .main-content div {
    margin: auto;
    width: 70%;
  }
}